/*  对于底部来说----------------------------------------------------- */
.foot_top{
	margin-top: 30px;
}
.foot_top .container{
	background: #f5f5f5;	
	height: 70px;
}
.foot_top .container li{
	float: left;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	width: 33.3%;
	padding-left: 6%;
	box-sizing: border-box;
}
.foot_top .container a h3{
    display: inline-block;
	font-size: 18px;
	color: black;
	padding-left: 5px;
	vertical-align: middle
}
.foot_top .container a:hover i{
	color: #f5004b;
}
.foot_top .container a:hover h3{
	color: #f5004b;

}
.foot_top .container  a span{
	display: inline-block;
	width: 39px;
	height: 43px;
	background:url(../imgs/ui.png) no-repeat 0 -1467px;
	vertical-align: middle
}
.foot_top .container li:nth-child(2) a span{
	background:url(../imgs/ui.png) no-repeat -39px -1467px;
}
.foot_top .container li:nth-child(3) a span{
	background:url(../imgs/ui.png) no-repeat -79px -1467px;
}
.foot_top .container  li b{
	display: inline-block;
	width: 8px;
	height: 8px;
	background:url(../imgs/ui.png) no-repeat -168px -228px;
	margin: 0 10px;
	vertical-align: middle
}
.foot_top .container  li  a i{
	font-size: 16px;
	color: #333;
	vertical-align: middle
}
/* 底部的中间部分 */
.foot_mid{
	margin: 20px 0;
}
.foot_mid  .container ul{
	float: left;
	width: 15%;
	padding-left: 5%;

}
.foot_mid  .container ul h4{
	font-size: 16px;
	color: #333;
}
.foot_mid  .container ul li{
	line-height: 20px;
}
.foot_mid  .container ul li a{
	color: #888;
}
.foot_mid  .container ul li a:hover{
	color: #f5004b;
}

/* 最底下部分 */
.foot_bot{
	width: 100%;
	border-top: 1px solid #dd00a7;
	background: #f5f5f5;
	padding-top: 20px;
}

.foot_bot_top .offline_service,.foot_bot_top .user_experice{
	float: left;
	width: 240px;
	margin-right: 40px;
}
.foot_bot_top .offline_service span,.foot_bot_top .user_experice span{
	display: block;
	width: 45px;
	height: 45px;
	float:left;
	margin-right: 6px;
}
.foot_bot_top .offline_service span{
	background: url(../imgs/ui.png) no-repeat 0 -134px;
}
.foot_bot_top .user_experice span{
	background: url(../imgs/ui.png) no-repeat -45px -134px;
}
.foot_bot_top .offline_service  i,.foot_bot_top .user_experice  i{
	display: block;
	font-size: 16px;
}
.foot_bot_top .offline_service a,.foot_bot_top .user_experice  a{
	color: #999;
	margin-right: 4px;
}
.foot_bot_top .offline_service a:hover,.foot_bot_top .user_experice  a:hover{
	color: #f5004b;
}
/*  右侧的一些微信图片 */
.foot_bot_top .add_us{
	float: right;
}
.foot_bot_top li{
	float: left;
	position: relative;
	margin: 0px 10px;
	text-align: center;
}
.foot_bot_top li span b{
	display: block;
	width: 32px;
	height: 25px;
	background: url(../imgs/ui.png) no-repeat -109px -134px;
	margin:0 auto;
}
.foot_bot_top li span em{
	color: #888;
}
.foot_bot_top li .wechat{
	 display: none; 
	position: absolute;
	padding: 10px;
	border: 1px solid #eee;
	background: #fff;
	left: -50px;
    bottom: 48px;
    z-index: 1000;
}
.foot_bot_top li:hover .wechat{
	display: block;
}
.foot_bot_top li .wechat i{
	display: block;
	width:11px;
	height: 7px;
	background: url(../imgs/ui.png) no-repeat -67px -128px;
	position: absolute;
	top: 92px;
	left: 52px;
}
.foot_bot_top li:nth-child(2) span b{
	background: url(../imgs/ui.png) no-repeat -189px -134px;
}
.foot_bot_top li:nth-child(2) .wechat i{
	top: 96px;
	left: 66px;
}
.foot_bot_top li em{
	color: #888;
}
/*  最下面重甲部分 */
.foot_bot_mid>ul{
	margin-top: -24px;
}
.foot_bot_mid>ul li{
	float:left;
	line-height: 24px;
	padding: 0px 8px;
	position: relative;
}
.foot_bot_mid>ul li a{
	color: #666;
}
.foot_bot_mid>ul li a:hover{
	color: #f5004b;
}
.foot_bot_mid>ul li:first-child{
	padding-left:0;
}
.foot_bot_mid>ul li span{
	position: absolute;
	right:0px;
	width: 1px;
	color: #afafaf;
}
.foot_bot_mid p{
	color: #afafaf;
	line-height: 22px;
}
.foot_bot_mid p a{
	color: #afafaf;
}
.foot_bot_mid p a:hover{
	color: #f5004b
}
.foot_bot_mid p a span{
	display: inline-block;
	width: 20px;
	height: 24px;
	background: url(../imgs/ui.png ) no-repeat 0px -1712px;
	vertical-align: middle
}
.foot_bot_mid{
	border-bottom:1px solid #afafaf;
}

/* 最下面的的下面 */
.foot_bot_bot  li{
	float: left;
	margin-right: 30px;
}
.foot_bot_bot li span{
	display: inline-block;
	width: 34px;
	height: 32px;
	background: url(../imgs/ui.png) no-repeat -1px -182px;
	margin-top: 5px;
}
.foot_bot_bot li:nth-child(2) span{
	background: url(../imgs/ui.png) no-repeat -37px -182px;
}
.foot_bot_bot li:nth-child(3) span{
	background: url(../imgs/ui.png) no-repeat -70px -186px;
}
.foot_bot_bot li:nth-child(4) span{
	background: url(../imgs/ui.png) no-repeat -106px -182px;
}
.foot_bot_bot li:nth-child(5) span{
	background: url(../imgs/ui.png) no-repeat -141px -182px;
}
.foot_bot_bot li:nth-child(6) span{
	background: url(../imgs/ui.png) no-repeat -174px -182px;
}
.foot_bot_bot li i{
	display: inline-block;
	width: 60px;
	vertical-align: top;
	color: #999;
	margin-left: 5px;
	line-height: 20px;
}
.foot_bot_bot li:nth-child(2) i{
	width: 50px;
}
.foot_bot_bot li:nth-child(3) i{
	margin-top:8px;
}
.foot_bot_bot li:nth-child(4) i{
	width: 50px;
}
.foot_bot_bot li:nth-child(5) i{
	margin-top:10px;
}
.foot_bot_bot li:nth-child(6) i{
	width: 120px;
}
.foot_bot_bot ul{
	padding: 10px 0px 30px;
}



