

/*  头部 */
.middle{
	width: 900px;
	margin: 0 auto;
}
header{
	height:120px;
	border-bottom: 1px solid #fee6bc;
}
#logo{
	width: 300px;
	height: 62px;
	text-indent:-999px;
	overflow: hidden;
	float: left;
	margin-top: 18px;
}
#logo a{
	background: url(../imgs/loginlogo.png) no-repeat;
	display: block;
    width: 300px;
    height: 62px;
    margin-top: 13px;
}
.advice p a em{
	display: inline-block;
    margin-right: 8px;
    padding-bottom: 2px;
    width: 15px;
    height: 16px;
    background: url(../imgs/login-bg-common.png) 0 -257px no-repeat;
    vertical-align: middle;
}

.advice{
	float:right;
	font-size:20px;
	margin-top: 80px;
}

/* 小建议 */

.tips{
	background-color: #fff4e3;
	color: #A5A5A5;
	height: 24px;
	line-height:24px;
}
.tips em{
	background: url(../imgs//login-bg-common.png) no-repeat;
	vertical-align: middle;
	background-position: -28px 0;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.tips p{
	width: 828px;
	color:#ff7f23;
	margin:0 auto;
}
/* 中间的内容 */
.content{
	background: #fff1e8;
	height: 480px;
}
.content .content_mid{
	width:  1200px;
	height: 480px;
	margin: 0 auto;
	background: url(https://gfs10.gomein.net.cn/T1ruLjBvd_1RCvBVdK.jpg) no-repeat;
}

/* 对于右边的登录选择 */

/* 顶上的选择 */
.information{
	width: 350px;
    float: right;
    margin-top: 24px;
    margin-right: 105px;
    position: relative;
    background: #fff;
}
.inf_top{
	border-bottom: 1px solid  #A5A5A5;
}
.information .code_login,.information .account_login{
	 float:left;
	 width: 50%;
	 font-size: 18px;
	 text-align: center;
	 line-height: 24px;
	 height:24px;
	 margin-top: 16px;
	 margin-bottom: 10px;
}
.information .code_login a{
	color: #e3101e;
	display: inline-block;
	width: 100%;
	border-right: 1px solid #A5A5A5;
	cursor: pointer;
}

.information .account_login a{
	color: #5e5e5e;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

/* 中间二维码部分--------------------------------- */
.inf_mid{
	padding: 25px 11px 0 19px;
	position: relative;
	text-align: center;
}
.code_pic{
	width: 320px;
	height: 167px;
	position: relative;
}
.code,.code img{
	width: 165px;
	height: 165px;
}
.code{
	position: absolute;
	/* hover的时候到left：１９ */
	left:74px;
	top:0px;
	z-index: 2;
 
}
.smp_img{
	float: right;
    width: 137px;
    height: 173px;
    margin-left: 10px;
     display: none; 
	margin-top: -8px;
	background: url(https://css.gomein.net.cn/images/loginfront/login/mobile.png) no-repeat;
}
/*  图形下面的字体 */
.open_tel{
	margin-top:10px;
}
.open_tel,.first_login p{
   color: rgb(94, 94, 94);
   font-size: 12px;
   line-height: 20px;
}
.open_tel a{
	color: rgb(255, 87, 87);
	margin-left: 4px;
}
.first_login>a{
	margin-left: 220px;
	color: #069;
	font-size: 14px;
	display: inline-block;
	margin-bottom:10px;
}
/* 中间账户部分--------------------------------- 248px*/
.second_login{
	position: relative;
}

.warn em{
	background: url(../imgs//login-bg-common.png) no-repeat;
	vertical-align: middle;
	background-position: -28px 0;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.warn{
	background:#fff1e8;
	color: #ff7f23;
	font-size:14px;
	line-height: 20px;
	 position: absolute;
	 top: -28px;
	 left: 10px;
	 width: 290px;
	 text-align:center;
}
.second_login input[type='text'],.second_login input[type='password']{
	display: block;
	margin-left: 10px;
    padding: 8px 10px 7px;
    width: 268px;
	height: 25px;
	margin-top: 10px;
	font-size: 16px;
}
.txt p,.pass p{
	height: 18px;
	font-size: 12px;
	line-height: 18px;
}
.pass p{
	margin-bottom:10px;
}
.second_login input[type='checkbox']{
	margin-right: 5px;
}
.some_choice{
	margin-left: -20px;
}
.other_way{
	float:right;
}
.other_way a:first-child{
	padding: 0px 5px;
	border-right:1px solid  #ccc;
	color: #5e5e5e;
}
.other_way a:nth-child(2){
	color: #2875cc;
}
#con{
	margin-left: -90px;
	vertical-align: middle;
}

.go_index{
	display: block;
	padding: 8px 10px 7px;
	width: 268px;
	background:#f64949;
	font-size: 16px;
	text-align:center;
	color: white;
	letter-spacing: 6px;
	margin: 10px 11px;
}
.go_index:hover{
	background: #e3101e;
}
.by_tel{
	text-align: left;
	text-indent:10px;
	margin-bottom: 9px;
}
.by_tel a{
	color:#2875cc;
}




/* 底下的 -----------------------------*/
.inf_bot{
	border: 1px solid #f0f0f0;
	color:#a5a5a5;
	background: #fcfcfc;
	padding: 9px 20px;
	position: relative;
	/* 点击之后 18变成 54px */
	height: 18px;
	overflow: hidden;
	/* height: 54px; */
}
.height_change{
	height: 54px;
}
.rot{
    transform: rotate(90deg);
}
.inf_bot li{
	float: left;

}
.inf_bot li a{
	color: #5e5e5e;
	display: inline-block;
	padding: 0px 9px;
	border-right: 1px solid #cacada;
	margin-bottom: 14px;
}
.inf_bot li .no_border{
	border-right: 0px;
}
.inf_btn{
	position: absolute;
	right: 20px;
	top: 7px;
	width:20px;
	height: 20px;
	background: #eaeaea;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	border:1px solid #cacada;
	/* 点击后旋转成90deg */
	transform: rotate(-90deg);
}


/* 对于底部要移动空隙 */
footer{
	margin-top: 50px;
}