.name_register input{
	width: 300px;
    padding: 12px 10px;
	box-sizing: border-box;
	color: #555;
}
.name_register{
	font-size: 14px;
}
.name_register p{
	height: 24px;
	line-height:24px;
}
.name_register .get_password p{
	float: left;
	width:200px;
}
.name_register .get_password b{
	float: right;
	line-height: 24px;
	height: 24px;
}
.name_register .get_password b i{
	display: inline-block;
	width: 20px;
	height: 4px;
	background: #ee3b3b;
	margin-right: 5px;
}
.name_register div{
	margin-top: 10px;
}

/*最下面的个*/ 
.name_register>a{
	display: inline-block;
	width: 300px;
	padding: 12px 10px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background: #ee3b3b;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}
